
@Author: Nagashree C R<br>
@Date: 11-10-2024<br>
@Last modified by: Nagashree C R<br>
@Last modified Date:11-10-2024 <br>
@Title: Single layer neural network to Predict Subscription to Term Deposit<br>

In [9]:
# !pip install tensorflow

# Import necessary libraries
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, classification_report

### Load Dataset

In [10]:
# Load the dataset
url = 'https://drive.google.com/uc?id=1E0EURgsF3L9Bt5hnOalE0d4Tw9mIOgTn'  # Corrected link format
df = pd.read_csv(url,delimiter=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

### Handle missing data

In [11]:
# Handle missing values (if any)
df.dropna(inplace=True)
df.shape

(4521, 17)

### Handling categroical data

In [12]:
# Encode categorical variables using LabelEncoder
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

label_encoders = {}
for column in categorical_columns:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

# Map the target variable 'y' to binary
df['y'] = df['y'].map({'yes': 1, 'no': 0})

### Spliting Dataset

In [13]:

# Define features (X) and target (y)
X = df.drop(columns=['y'])  # Features are all columns except 'y'
y = df['y']  # Target variable

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Scaling dataset

In [14]:

# Scale the features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

### Built Model

In [15]:
# Build the Single Layer Neural Network
model = Sequential()
model.add(Dense(1, input_dim=X_train_scaled.shape[1], activation='sigmoid'))  # Single layer with 1 neuron

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train_scaled, y_train, epochs=5, batch_size=32, validation_split=0.2)

# Make predictions on the test set
y_pred = model.predict(X_test_scaled)
y_pred = (y_pred > 0.5).astype(int)  # Convert predictions to 0 or 1

c:\Users\ASHAY\OneDrive\Desktop\bridgelabz\ML\final\.venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/5
91/91 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.4304 - loss: 0.9241 - val_accuracy: 0.4572 - val_loss: 0.8186
Epoch 2/5
91/91 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4375 - loss: 0.8378 - val_accuracy: 0.5014 - val_loss: 0.7389
Epoch 3/5
91/91 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5404 - loss: 0.7300 - val_accuracy: 0.5622 - val_loss: 0.6736
Epoch 4/5
91/91 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5972 - loss: 0.6752 - val_accuracy: 0.6809 - val_loss: 0.6195
Epoch 5/5
91/91 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6946 - loss: 0.6219 - val_accuracy: 0.7693 - val_loss: 0.5744
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step

### Model performance

In [16]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print('Classification Report:\n', class_report)

Accuracy: 0.7524861878453039
Classification Report:
               precision    recall  f1-score   support

           0       0.90      0.82      0.85       807
           1       0.13      0.22      0.16        98

    accuracy                           0.75       905
   macro avg       0.51      0.52      0.51       905
weighted avg       0.81      0.75      0.78       905